<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>

<header class="bg-primary py-5 mb-5 bg-image" style="background-image: url('https://www.iderbrandt.com/bild5.jpg'); height: 45vh">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-sm-12">

                <div class="card" style="width: 21rem;">

                    <div class="card-body">
                        <h4 class="card-title">Welcome to BikeXange</h4>

                        <p class="card-text">Search for your new bike!</p>
                        <br>
                        <form action = "/searchItems" method = "get" class="form-inline ml-auto">
                            <div class="md-form my-0">
                                <input class="form-control" href="'/searchItems'" type="text" name = "keyword" id = "keyword" placeholder="Search" aria-label="Search">
                            </div>
                        </form>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">

</div>

</body>
</html>