<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Detail Page - BikeXange</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/style.css" th:href="'css/style.css'">
</head>
<body>
<main layout:fragment="header">
    <header class="bg-primary py-5 mb-5bg-image"
            style="background-image: url('https://www.iderbrandt.com/bild3.jpg'); height: 15vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <h1 class="display-4 text-primary">Bike Details</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>
<main layout:fragment="main">
    <div class="container">
        <a href="listItems">Back to Item list</a>
        <h1 class="my-4" th:text="${item.description}"></h1>
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid shadow" th:src="${item.imageURL}" alt="Detailed Page Image">
            </div>
            <div class="col-md-4">
                <h3 class="my-3">Description</h3>
                <p class="card-text" th:text="${item.description}"></p>
                <h3 class="my-3">Category</h3>
                <p class="card-text" th:text="${item.category.displayValue}"></p>
                <h3 class="my-3">Build Year</h3>
                <p class="card-text" th:text="${item.buildYear}"></p>
                <h3 class="my-3">Price</h3>
                <p class="card-text" th:text="${item.price} + ' kr'"></p>
                <a th:href="'/delete/' + ${item.id}" class="btn btn-primary btn-lg active" role="button"
                   aria-pressed="true">Delete</a>
                <a th:href="'/editItem/' + ${item.id}" class="btn btn-primary btn-lg active" role="button"
                   aria-pressed="true">Edit</a>
                <p></p>
            </div>
        </div>
    </div>
    <main layout:fragment="footer">
    </main>
</main>
</body>
</html>