<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
<!--Required meta tags -->
<metacharset="utf-8">
<metaname="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--Bootstrap CSS -->
<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="${item.imageURL}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" th:text="${item.description}"></h5>
                <p class="card-text" th:text="${item.category}"></p>
                <p class="card-text" th:text="${item.buildYear}"></p>
                <p class="card-text" th:text="${item.price}"></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</body>
</html>