<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>BikeXange</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../static/css/style.css" th:href="'css/style.css'">
</head>
<body>
<main layout:fragment="header">
    <header class="bg-primary py-5 mb-5 bg-image"
            style="background-image: url('https://www.iderbrandt.com/bild5.jpg'); height: 45vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-sm-12">
                    <div class="card" style="width: 21rem;">
                        <div class="card-body">
                            <h4 class="card-title">Welcome to BikeXange</h4>
                            <p class="card-text">Search for your new bike!</p>
                            <br>
                            <form action="/searchItems" method="get" class="form-inline ml-auto">
                                <div class="md-form my-0">
                                    <input class="form-control" href="'/searchItems'" type="text" name="keyword"
                                           id="keyword" placeholder="Search" aria-label="Search">
                                </div>
                            </form>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>
<main layout:fragment="main">

    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Build Year</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="item : ${items}">
                <td><a th:href="'/' + ${item.id}" p th:text="${item.category.displayValue}"/></td>
                <td><a th:href="'/' + ${item.id}" p th:text="${item.description}"/></td>
                <td><a th:href="'/' + ${item.id}" p th:text="${item.buildYear}"/></td>
                <td><a th:href="'/' + ${item.id}" p th:text="${item.price} + ' kr'"/></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top"
                         src="https:/images.ctfassets.net/bi9pvs2ayg6b/4DarfrlijS0a4gwi6SIq0a/015e20d2b4430b42aeb6466a23db8042/shutterstock_1017335230.jpg?w=300"
                         alt="">
                    <div class="card-body">
                        <h4 class="card-title">Are you considering buying an electric bike?</h4>
                        <p class="card-text">Wondering how an electric bike works? What about the electric bike prize?
                            Here we explain the concepts and technology and give tips on what to think about when you
                            buy an electric bike.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.blocket.se/tips-och-guider/cykelguiden/kopa-elcykel"
                           class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top div.embbed-responsive"
                         src="https:/images.ctfassets.net/bi9pvs2ayg6b/51iZ5gsRPBIAEMtO49PNLE/743bb78ffd7081d1e307b66b526eaf55/cykling_puff.jpg?w=300"
                         alt="">
                    <div class="card-body">
                        <h4 class="card-title">What does a bike cost?</h4>
                        <p class="card-text">What is a good price for a used bike? Whether you are selling or buying, it
                            is good to get an idea of what is a low or high price.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.blocket.se/tips-och-guider/cykelguiden/vad-kostar-en-cykel"
                           class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <img class="card-img-top img-float"
                         src="https:/images.ctfassets.net/bi9pvs2ayg6b/53TAvMglUkMEGYceaEiC2e/f1bbb7fc053f3979647429a11b0c1ec8/tryggt_cykelkop.jpg?w=200"
                         alt="">
                    <div class="card-body">
                        <h4 class="card-title">Make a safe bike purchase</h4>
                        <p class="card-text">Unfortunately, many bicycles are stolen and resold. Help us keep bike
                            thieves away from Blocket and avoid buying a stolen bike with our simple tips..</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.blocket.se/tips-och-guider/cykelguiden/tryggt-cykelkop"
                           class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main layout:fragment="footer">
    </main>
</main>
</body>
</html>