<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Blocket Light</title>
<!--Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
<div class="container">

    <!--Page navigation-->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="http://www.iderbrandt.com/icon-bl.svg" alt="" width="40" height="34"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="listItems">List Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addItem">Add Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
        </ul>
        <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>

    <!--jumbotron with some text-->
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Blocket Light!</h1>
        <p class="lead">This text can be changed</p>
        <hr class="my-4">
        <p>and this text can also change...</p>

        <!-- <a class="btn btn-primary btn-lg" href="searchResult.html" role="button">Go to the items!</a> -->
    </div>

    <!--Table with items-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Build Year</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="item : ${items}">
            <td><p th:text="${item.category}" /></td>
            <td><p th:text="${item.description}" /></td>
            <td><p th:text="${item.buildYear}" /></td>
            <td><p th:text="${item.price}" /></td>
        </tr>
       </tbody>
    </table>


    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://via.placeholder.com/300x150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Copyright © 2021 Blocket Light. All Rights Reserved.</span>
        </div>
    </footer>
</div>
</body>
</html>