<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>List Items - BikeXange</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link rel="stylesheet" href="../static/css/style.css" th:href="'css/style.css'">
</head>
<body>
<main layout:fragment="header">
    <header class="bg-primary py-5 mb-5bg-image"
            style="background-image: url('https://www.iderbrandt.com/bild.jpg'); height: 35vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="display-4 text-primary">All Bikes</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>
    <main layout:fragment="main">
        <div class="container">
            <br>
            <table th:if="${items != null}" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Build Year</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <tr th:each="item : ${items}">
                    <td><a th:href="'/' + ${item.id}" p th:text="${item.category.displayValue}"/></td>
                    <td><a th:href="'/' + ${item.id}" p th:text="${item.description}"/></td>
                    <td><a th:href="'/' + ${item.id}" p th:text="${item.buildYear}"/></td>
                    <td><a th:href="'/' + ${item.id}" p th:text="${item.price} + ' kr'"/></td>
                </tr>
                </tbody>
            </table>
            <h1 th:if="${items == null}" th:text="'No matches found for '+ ${keyword}"></h1>
        </div>
    </main>
    <main layout:fragment="footer">
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; BikeXange 2021</p>
            </div>
        </footer>
    </main>
</body>
</html>