<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Login - BikeXange</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<main layout:fragment="header">
    <header class="bg-primary py-5 mb-5bg-image"
            style="background-image: url('https://www.iderbrandt.com/bild4.jpg'); height: 35vh">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h1 class="display-4 text-primary">Login</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>
<main layout:fragment="main">
    <div class="container">
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label col-sm-2 col-form-label col-form-label-lg">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="InputPassword1"
                       class="form-label col-sm-2 col-form-label col-form-label-lg">Password</label>
                <input type="password" name="password" class="form-control" id="InputPassword1">
            </div>
            <div th:if="${param.error}">
                <p style="color:red;">Invalid username or password.</p>
            </div>
            <button type="submit" style="margin-bottom: 20px" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
</body>
</html>